.main {
    background-color: black;
    height: 100vh;
    width: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    margin: 0 !important;
}

.first {
    width: 100%;
    height: 90vh;
    display: flex;
}
.second {
    width: 100%;
    height: 15vh;
    background: linear-gradient(
        90deg,
        rgba(172, 43, 151, 1) 0%,
        rgba(132, 104, 200, 1) 50%,
        rgba(92, 145, 235, 1) 100%
    );
}
.left-menu {
    width: 25%;
    height: 90vh;
}
.catalog {
    width: 75%;
    background-color: #121212;
    height: 88vh;
    margin: 0.7vh 0;
    border-radius: 9px;
}
.center-second-content {
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-info {
    width: 70%;
}
.extract {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 5px;
}
.register-info {
    font-size: 1rem;
}
.extract,
.register-info {
    color: white;
    font-weight: 400;
}
.register-button {
    width: 243px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}
.left-nav {
    background-color: #121212;
    height: 25vh;
    border-radius: 9px;
    width: 90%;
    margin: 0px 5%;
}
.left-nav ul {
    list-style: none;
    color: #b3b3b3;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    height: 20vh;
    font-weight: 600;
}
.logo-spotify {
    height: 24px;
    width: 78px;
}
.left-nav ul li:hover,
.library-title:hover {
    color: white;
}

.nav-icons {
    font-size: 22px;
    margin-right: 20px;
    max-width: 22px;
    max-height: 22px;
}

.library {
    background: #121212;
    border-radius: 5px;
    width: 95%;
    height: 61vh;
    margin: 1vh 5%;
}

.library-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 10%;
    color: #b3b3b3;
    height: 50px;
}

.playlist-menu {
    height: 30vh;
    width: 90%;
    margin: 20px 5%;
    overflow-y: scroll;
}
.playlist-card {
    background-color: #242424;
    margin: 20px 5%;
    padding: 20px 0;
}
.playlist-create {
    font-size: 15px;
    color: white;
}
.simple-create {
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.playlist-button {
    margin: 10px;
    appearance: none;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    margin: 10px 0;
}
.library {
    height: 61vh;
    background-color: #121212;
    width: 90%;
    margin: 1.5vh 5%;
}
.library-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 10%;
    color: #b3b3b3;
    height: 50px;
}
.playlist-menu {
    height: 25vh;
    width: 90%;
    margin: 20px 5%;
    overflow-y: scroll;
    border-radius: 9px;
}
.playlist-card {
    background-color: #242424;
    width: 90%;
    margin: 20px 5%;
    padding: 20px;
    border-radius: 9px;
}
.playlist-create {
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}
.simple-create {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.playlist-button {
    appearance: none;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    margin: 10px 0;
}
.block {
    display: block;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px 5%;
    color: white;
}
.catalog-register {
    background-color: transparent;
    color: #b3b3b3;
}
.catalog-login {
    background-color: white;
    color: black;
    width: 150px;
}
.catalog-login,
.catalog-register {
    appearance: none;
    border: none;
    height: 40px;
    font-weight: 600;
}
.catalog-login:hover {
    width: 160px;
    height: 45px;
}
.catalog-register:hover {
    color: white;
}
.content {
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(36, 36, 36, 1) 0%,
        rgba(18, 18, 18, 1) 100%
    );
    height: 70vh;
}
.content-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 5%;
    align-items: center;
    height: 50px;
}
.playlist-title {
    color: white;
    font-size: 19px;
}
.playlist-title:hover {
    /* Surlignage */
    text-decoration: underline;
}
.display-all {
    color: #b3b3b3;
    font-size: 14px;
}
.catalog-card-container {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.catalog-card {
    width: 15%;
    height: 230px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.catalog-card-img {
    height: 150px;
    width: 90%;
    object-fit: cover;
    margin: 10px 5%;
}
.catalog-card h4 {
    font-size: 16px;
    color: white;
    margin: 5px 0;
}
.catalog-card p {
    font-size: 12px;
    color: white;
}

/********** menu burger*********/

/* Hide on bigger screens */
.close-icon {
    display: none;
    font-size: 24px;
}
.menu-btn {
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .left-nav li:nth-child(n + 3) {
        display: none;
    }

    .close-icon {
        display: block;
    }
}
